extends layout

block content
    h1= title
    ul
        - items.forEach(function(item) {
            li
                p= item['code']
                ul
                    li= item['name']
                    li= item['faculty']
        - })
