.content.text-center
  .about.block
    p= 'Grade That Course is a community driven tool using publicly available information on the internet to provide a platform for participation in a transparent and democratic process of providing feedback on university courses.'
  .links.block
    li Grade That Course &copy; 2014
    li= 'Terms'
    li= 'Privacy'

block script
  script(type='text/javascript' src='/js/jquery-2.0.3.js')
