div.container
  div.content.search
    form(action='index-search', method='post', autocomplete='off')
      input(id='index-search', class='text-center', type='text', name='course', autofocus="autofocus", placeholder='Search through all courses...')
  div#search-results.content
