extends layout

block content
  header
      div.content
        h1.title.text-center= title
        h2.subtitle.text-center= subtitle
  div.container
      div.content.search
        form(action='index-search', method='post', autocomplete='off')
          input(id='index-search', class='text-center', type='text', name='course', autofocus="autofocus", placeholder='search for a course...')
      div#search-results.content
  div.container
      div.content.menu.text-center
        p.menu ...or pick from one of these faculties
        ul.faculties
          - faculties.forEach(function(faculty) {
              li(id=faculty, class='button bg-' + faculty.slice(0,3))= faculty.toUpperCase()
          - })
        p.menu ...or from one of these categories
        ul.scores
          - scoring.forEach(function(category) {
              li(id=category, class='button bg-orange')= category.toUpperCase()
                  //a(href='#' + category)= category
          - })

block script
    script(type='text/javascript', src='/js/searchController.js')
    script(type='text/javascript', src='/js/voteButton.js')
