extends layout

block content
  .content
    h1 Welcome Back!
    .register.text-center
      form(action="/login" method="post")
        input(type="email" placeholder="Email" name="email" id="email")
        input(type="password" placeholder="Password" name="password" id="password")
        input(type="submit" name="login" id="login" value="Log In")
