extends layout

block content
  .content
    h1 Create a New Account
    .register.text-center
      form(action="/register" method="post")
        input(type="email" placeholder="Email (not shared)" name="email" id="email")
        input(type="password" placeholder="Password (secured)" name="password" id="password")
        input(type="submit" name="register" id="register" value="Sign Up")
