extends layout

block content
  .user-action-wrapper.login.content.text-center
    h1.form-group Create a New Account
    form(action="/register" method="post")
      .form-group
        input(type='email' class='form-control' placeholder='Email (not shared)' id='email' name='email' autofocus='autofocus')
      .form-group
        input(type='password' class='form-control' placeholder='Password (secured)' id='password' name='password')
      .form-group
        input(type='fname' class='form-control' placeholder='First Name' id='fname' name='fname')
      .form-group
        input(type='lname' class='form-control' placeholder='Last Name' id='lname' name='lname')
      button(type='submit' class='btn btn-default') Sign Up

append script
  script(type='text/javascript' src='//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js')
  script(type='text/javascript' src='/js/validateLogin.js')
