/*
 *Name: Don't Take That Course!
 *Author: Tony Li
 *Author URI: http://tonyli.ca
 */

/*
 *Main
 */

body {
    background: #FFFFFF;
    font-family: 'Helvetica', Arial;
}

.content {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

/*
 *Header
 */

header {
    width: 100%;
    padding: 3px 0;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0 1px 6px #222222;
}

.home-title {
    font-family: NexaBold,Arial,sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.header.btn {
    display: inline-block;
    margin: 3px 0 3px 6px;
}

/*
 *Footer
 */

footer {
    background: #FFFFFF;
    font-family: 'Helvetica', Arial, sans-serif;
}

.footer {
    margin: 32px auto;
}

.block {
    margin: 12px 0;
}

.block li {
    display: inline-block;
    margin: 0 12px;
}

/*
 *Masthead
 */

.masthead {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.45)),
        url('/img/ubc.jpg');
    background-position: center center, center top;
    background-size: cover, cover;
}

.masthead .title {
    font-family: 'NexaBold', Arial, sans-serif;
    font-size: 72px;
    color: #FFFFFF;
    font-weight: 300;
    text-shadow: 0 1px 3px #222222;
    word-wrap: break-word;
}

.masthead .subtitle {
    font-family: 'NexaLight', Arial, sans-serif;
    font-size: 36px;
    color: #ffffff;
    font-weight: 300;
    text-shadow: 0 1px 3px #222222;
    margin-top: 24px;
}

.hero {
    padding: 10% 0 10%;
}





.container {
    overflow: hidden;
    background: #DDDDDD;
}

.menu {
    margin: 32px auto;
}

input#index-search {
    height: 36px;
    width: 100%;
    font-size: 24px;
    /*border: 0;*/
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 2px 0 0 2px;
    border-radius: 6px;
}

#search-results {
    margin: 32px auto;
}

.course {
    margin: 12px 0;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 4px;
    color: #262937;
}

.main-info {
    margin: 0 0 12px 0;
    overflow: hidden;
}

.main-info li {
    font-family: 'NexaBold';
    font-size: 24px;
    line-height: 30px;
    display: inline-block;
}

.course-code {
    margin-right: 36px;
}

.details-link:hover {
    color: #808080;
}

.meta, .score {
    /*margin: 3px 0 0;*/
    overflow: hidden;
}

.meta {
    margin-top: 12px;
}

.meta li:hover {
    color: #000000;
    /*background: #FF9900;*/
    background: #FFD700;
}

.meta a {
    margin: 4px 12px 4px 0;
}

.score li:hover {
    color: #000000;
    background: #FFD700;
}

p.menu {
    margin: 12px 0;
    font-size: 24px;
}

.faculties li {
    display: inline-block;
}

#faculty-results {
    margin: 0 auto 32px auto;
}

.scores li {
    display: inline-block;
}









/*
 *User Actions
 */

.user-action-wrapper {
    max-width: 300px;
    margin: 32px auto;
    padding: 24px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px;
    border: 1px solid #CCCCCC;
}

.user-action-wrapper .label {
    display: inline-block;
}

/*
 *.user-actions {
 *    margin: 32px auto;
 *    max-width: 500px;
 *}
 */
