extends layout

block content
  h1= title
  p Welcome to #{title}.
  p #{description}
  ul
    - menu.forEach(function(item) {
        li
            a(href="/" + item)= item.charAt(0).toUpperCase() + item.slice(1)
    - })
