extends layout

block content
  h1= title
  form(action='index-search', method='post', autocomplete='off')
    input(id='index-search', type='text', name='course', value='search for a course...')
  div(id='search-results')
  p ...or pick from one of these faculties:
  ul
    - faculties.forEach(function(faculty) {
        li
            a(href='#' + faculty)= faculty
    - })
  ul
    - scoring.forEach(function(category) {
        li
            a(href='#' + category)= category
    - })
