doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='/js/jquery-2.0.3.js')
    script(type='text/javascript', src='/js/searchController.js')
  body
    block content
